@import url(https://fonts.googleapis.com/css?family=Laila);
*{
	font-family: 'Laila', serif;
}

body{
	background: #FFF;
	color: #000026;
	font-size: 14px;
}

.center {
	text-align: center;
}
.content {
	width: 900px;
	display: block;
	margin-left: auto;
}
